
#container{
    background-image:url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    ion-card{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

ion-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-avatar{
    padding-top: 10px;
    width:200px;
    height: 200px;
}

ion-card-title,
ion-card-subtitle{
    text-align: center;
}

ion-img img {
    padding-top: 150px;
}

.paragraphe {
    text-align: center;
}