<ion-header [translucent]="true">
  <div class="head">
    <div class="home-btn">
      <img src="assets/images/homeLogo.png" />
    </div>
    <div class="head__title">
      Le Bateau de Thibault
    </div>
    <div class="cart-btn" (click)="goToCart()">
      <img src="assets/images/cartLogo.png" alt="">
      <ion-badge color="primary">{{cartProducts.length}}</ion-badge>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="title">
      Choisissez vos produits
    </div>
    <div class="list">
        <ion-card *ngFor="let product of products">
            <ion-item>
              <ion-icon name="fish" class="card icon"></ion-icon>
              <ion-label>{{ product.name }}</ion-label>
              <ion-item>
                <ion-label> {{ product.price }} €</ion-label>
              </ion-item>
              <ion-button (click)="toggleActionCart(product)" ><ion-icon name="cart-outline"></ion-icon></ion-button>
            </ion-item>
        </ion-card>
    </div>
  </div>
</ion-content>
