<app-header></app-header>

<ion-content [fullscreen]="true">
<div id="container">
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Vente en direct de notre bateau</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
  <ion-grid>
    <ion-row >
      <ion-col size="12" >
<app-button name="Produits et promotions" nameIcon="fish-outline" (click)="goCategory()" ></app-button>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
<app-button name="Bateaux" nameIcon="boat-outline" (click)="goDetails('bateau')"></app-button>
        </ion-col>
        <ion-col size="6">
<app-button name="Restaurants" nameIcon="restaurant-outline" (click)="goDetails('restaurant')"></app-button>
        </ion-col>
        <ion-col size="6">
<app-button name="Recettes" nameIcon="book" (click)="goDetails('recette')"></app-button>
        </ion-col>
        <ion-col size="6">
<app-button name="Contact" nameIcon="person-circle" [routerLink]="['/contact']"></app-button>
        </ion-col>

    </ion-row>
  </ion-grid>
</div>
</ion-content>
