<ion-content>
  <div id="container">
    <ion-card>
      <ion-img [src]="this.page.image"></ion-img>
      <ion-card-content id="content">
        <ion-card-header>
          <ion-card-title> {{ this.page.title }} </ion-card-title>
          <ion-card-subtitle> {{ this.page.subtitle }} </ion-card-subtitle>
        </ion-card-header>
        <div class="paragraphe">
          <p *ngFor="let line of this.page.description"> {{ line }} </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>